In [3]:
# ctype vs pythonic loops

# create the lists

fruits = ['apple' ,'pear','orange','banana','kiwi']
numbers = [2,4,7,8,1]

#ctype

# create and initialize the loop variable

i = 0

for _ in range(len(fruits)):
    print(f"you get {numbers[i]} {fruits[i]}")
    i +=1

you get 2 apple
you get 4 pear
you get 7 orange
you get 8 banana
you get 1 kiwi

In [4]:
# pythonic way

for num, fruit in zip(numbers,fruits):
    print(f"you get {num} {fruit}")

you get 2 apple
you get 4 pear
you get 7 orange
you get 8 banana
you get 1 kiwi

In [8]:
# if statements

condition1 = False
condition2 = False
condition3 = False
condition4 = False


if condition1: # equivalent if condition1 == True: 
    print("condition 1 is true!")
elif condition2:
    print("condition 2 is true!")
elif condition3:
    print("condition 3 is true!")
elif condition4:
    print("condition 4 is true!")
else:
    print("None of the conditions were true")

None of the conditions were true

In [9]:
# if statements/ might be a bug

condition1 = True
condition2 = True
condition3 = True
condition4 = True


if condition1: # equivalent if condition1 == True: 
    print("condition 1 is true!")
    
if condition2:
    print("condition 2 is true!")
    
if condition3:
    print("condition 3 is true!")
    
if condition4:
    print("condition 4 is true!")
else:
    print("None of the conditions were true")

condition 1 is true!
condition 2 is true!
condition 3 is true!
condition 4 is true!

In [10]:
# some conditional statements

my_age = 20

my_age > 5

True

In [11]:
my_age > 5 and my_age < 50

True

In [15]:
# predict the value of a soccer player
soccer_skill = 92
height = 1.5
stamina = 95
leadership = 70

if soccer_skill>80 and stamina > 90 and leadership > 60:
    print("You're worth 50 million dollars!")
elif soccer_skill < 50 or stamina < 10 :
    print("you shouldn't play soccer! but your worth is 10 million!")
else:
    print("You are a generic player and you should cost 15 million")

You're worth 50 million dollars!

In [16]:
soccer_skill>50 and  < 90

SyntaxError: invalid syntax (3215773634.py, line 1)

In [17]:
soccer_skill>50 and soccer_skill< 90

False

In [18]:
# another way to chain mulitple conditionals
90>soccer_skill>50

False

In [19]:
if (10 or False):
    print("True")
else:
    print("False")

true

In [22]:
if (-1):
    print("True")
else:
    print("False")

True

In [24]:
bool(10 or False)

True

In [27]:
name = input("Enter name")or"<invalid_input>"
print(name)

Enter name

<invalid_input>

In [29]:
# continue
nums = [10,50,500,2000, 5000, 1500]

#find the sum
total = 0
for num in nums:
    if num < 1000:
        print(f"{num} is < 1000")
        continue
    total += num
print(f"total {total}")

10 is < 1000
50 is < 1000
500 is < 1000
total 8500

In [30]:
# break 

nums = [10,50,0,2000, 5000, 1500]
#find the sum
total = 0
for num in nums:
    if num == 0:
        print(f"bad egg")
        break
    total += num
print(f"total {total}")

bad egg
total 60

# while loops

In [33]:
# infinite loop
while True:
    user_in = input("Enter name")
    if user_in:
        break
        
print(f"Hello {user_in}")

Enter name
Enter name
Enter name
Enter name
Enter name Andrew

Hello Andrew

In [ ]:
print("hello")

In [36]:
# sets

my_list = [1,2,4,4,5,677,7,90]
print("before",my_list)

my_list = list(set(my_list))
print("after",my_list)

before [1, 2, 4, 4, 5, 677, 7, 90]
after [1, 2, 4, 5, 677, 7, 90]

In [37]:
myset = set(my_list)

In [38]:
myset[0] = 5

TypeError: 'set' object does not support item assignment

In [40]:
name[0] = 'w'

TypeError: 'str' object does not support item assignment

In [41]:
my_dict = {'name':'Andrew', 'major':'Engineering','favorite color':'red'}
my_dict

{'name': 'Andrew', 'major': 'Engineering', 'favorite color': 'red'}

In [42]:
# keys

for key_var in my_dict.keys():
    print(key_var)

name
major
favorite color

In [43]:
# values
for value_var in my_dict.values():
    print(value_var)

Andrew
Engineering
red

In [44]:
# acces both

for key,item in my_dict.items():
    print(f"{key},{item}")

name,Andrew
major,Engineering
favorite color,red

In [45]:
# update 

my_dict['team'] = 'liverpool'
my_dict

{'name': 'Andrew',
 'major': 'Engineering',
 'favorite color': 'red',
 'team': 'liverpool'}

In [46]:
# update 
my_dict['name'] = 'rukangu'
my_dict

{'name': 'rukangu',
 'major': 'Engineering',
 'favorite color': 'red',
 'team': 'liverpool'}

In [47]:
# more updating using a dictionary

dict1 = {'hometown':'Nairobi'}
my_dict.update(dict1)
my_dict

{'name': 'rukangu',
 'major': 'Engineering',
 'favorite color': 'red',
 'team': 'liverpool',
 'hometown': 'Nairobi'}

In [48]:
# update using list of tuples

list1 = [('car','VW'),('position','midfield')]

my_dict.update(list1)
my_dict

{'name': 'rukangu',
 'major': 'Engineering',
 'favorite color': 'red',
 'team': 'liverpool',
 'hometown': 'Nairobi',
 'car': 'VW',
 'position': 'midfield'}

# info airlines

In [49]:
# user should enter destination
# get the cost in dollars to fly to the destination

# user should quit 
# if a destination is not available we add it

desitinations = {'Miami':600 , 'Dallas': 853, 'New York': 817}

cost_per_mile = 0.5

while True:
    print("welcome to info2000 airlines")
    user_in = input("where would you like to fly to? (q to quit)")
    if user_in.casefold() == 'q':
        break

        
print("Thanks for flying info!")

welcome to info2000 airlines

where would you like to fly to? (q to quit) Miami

welcome to info2000 airlines

where would you like to fly to? (q to quit) q

Thanks for flying info!

In [51]:
# user should enter destination
# get the cost in dollars to fly to the destination

# user should quit 
# if a destination is not available we add it

desitinations = {'Miami':600 , 'Dallas': 853, 'New York': 817}

cost_per_mile = 0.5

while True:
    print("welcome to info2000 airlines")
    user_in = input("where would you like to fly to? (q to quit)")
    if user_in.casefold() == 'q':
        break
    # get the destination from the dict
    if user_in in desitinations.keys():
        # calculate the mileage
        # print the cost
        print(f"Your flight to {user_in} will cost ${desitinations[user_in] * cost_per_mile}")
    else:
        print("sorry destination not available yet")
        
print("Thanks for flying info!")

welcome to info2000 airlines

where would you like to fly to? (q to quit) Miami

Your flight to Miami will cost $300.0
welcome to info2000 airlines

where would you like to fly to? (q to quit) New York

Your flight to New York will cost $408.5
welcome to info2000 airlines

where would you like to fly to? (q to quit) Nairobi

sorry destination not available yet
welcome to info2000 airlines

where would you like to fly to? (q to quit) q

Thanks for flying info!

## Adding destinations

In [52]:
# user should enter destination
# get the cost in dollars to fly to the destination

# user should quit 
# if a destination is not available we add it

desitinations = {'Miami':600 , 'Dallas': 853, 'New York': 817}

cost_per_mile = 0.5

while True:
    print("welcome to info2000 airlines")
    user_in = input("where would you like to fly to? (q to quit)")
    if user_in.casefold() == 'q':
        break
    # get the destination from the dict
    if user_in in desitinations.keys():
        # calculate the mileage
        # print the cost
        print(f"Your flight to {user_in} will cost ${desitinations[user_in] * cost_per_mile}")
    else:
        distance = float(input(f"distance to {user_in}?"))
        desitinations[user_in] = distance
        print(f"Your flight to {user_in} will cost ${desitinations[user_in] * cost_per_mile}")
        
                         
        
print("Thanks for flying info!")

welcome to info2000 airlines

where would you like to fly to? (q to quit) Miami

Your flight to Miami will cost $300.0
welcome to info2000 airlines

where would you like to fly to? (q to quit) Nairobi
distance to Nairobi? 8000

Your flight to Nairobi will cost $4000.0
welcome to info2000 airlines

where would you like to fly to? (q to quit) Nairobi

Your flight to Nairobi will cost $4000.0
welcome to info2000 airlines

where would you like to fly to? (q to quit) q

Thanks for flying info!

In [55]:
# user should enter destination
# get the cost in dollars to fly to the destination

# user should quit 
# if a destination is not available we add it

desitinations = {'Miami':600 , 'Dallas': 853, 'New York': 817}
updated_destinations = {}
# making sure that the destinations are casefolded for smooth operation
for key,value in desitinations.items():
    updated_destinations[key.casefold()] = value

print(updated_destinations)
cost_per_mile = 0.5

while True:
    print("welcome to info2000 airlines")
    user_in = input("where would you like to fly to? (q to quit)").casefold()
    if user_in.casefold() == 'q':
        break
    # get the destination from the dict
    if user_in in updated_destinations.keys():
        # calculate the mileage
        # print the cost
        print(f"Your flight to {user_in} will cost ${updated_destinations[user_in] * cost_per_mile}")
    else:
        distance = float(input(f"distance to {user_in}?"))
        updated_destinations[user_in] = distance
        print(f"Your flight to {user_in} will cost ${updated_destinations[user_in] * cost_per_mile}")
        
                         
        
print("Thanks for flying info!")

{'miami': 600, 'dallas': 853, 'new york': 817}
welcome to info2000 airlines

where would you like to fly to? (q to quit) NeW YOrk

Your flight to new york will cost $408.5
welcome to info2000 airlines

where would you like to fly to? (q to quit) q

Thanks for flying info!