In [1]:
# augmented assignment

my_var1 = 10

my_var1 = my_var1 + 1 #increment by 1
print(my_var1)

11

In [2]:
my_var1 += 1
print(my_var1)

12

In [3]:
my_var1 -= 5 # subtract
print(my_var1)

7

In [4]:
my_var1 *= 5 # subtract
print(my_var1)

35

In [12]:
# delete items from a list

my_list  = [1,2,3,7,8,9,'x']

In [6]:
del(my_list[6])
my_list

[1, 2, 3, 7, 8, 9]

In [7]:
del(my_list)

In [8]:
my_list

NameError: name 'my_list' is not defined

In [9]:
my_tup = (1,2,3)
my_tup2 = 3,4,5

In [10]:
# the in keyword
5 in my_tup

False

In [11]:
5 in my_tup2

True

In [13]:
my_list[0]  = 'first element'
my_list

['first element', 2, 3, 7, 8, 9, 'x']

In [14]:
my_tup[0]  = 'first'

TypeError: 'tuple' object does not support item assignment

# strings

In [15]:
my_name1 = 'Andrew'
my_name2 = "Rukangu"

In [16]:
print(my_name1, my_name2, sep = '\t')

Andrew	Rukangu

In [17]:
course = 'Info2000'
course2 = 'INFO2000'
course3 = 'INfo2000'

In [18]:
course == course2

False

In [19]:
course.upper() == course2.upper()

True

In [20]:
course.upper()

'INFO2000'

In [22]:
course2.casefold() == course3.casefold()

True

In [26]:
# split

My_name = 'Andrew,Rukangu'
names = My_name.split(',')
names

['Andrew', 'Rukangu']

In [27]:
print('    stuff     ')

    stuff

In [28]:
'    stuff     ' == 'stuff'

False

In [29]:
'    stuff     '.strip() == 'stuff'

True

In [32]:
string2 = "this is a string"
string2 = string2.replace('string', 'big string')

In [33]:
string2

'this is a big string'

In [34]:
names

['Andrew', 'Rukangu']

In [38]:
# join

"---".join(names)

'Andrew---Rukangu'

In [39]:
#
print("This is a 'quoted string'")

This is a 'quoted string'

In [40]:
print('This is a "quoted string"')

This is a "quoted string"

In [41]:
print("This is a \"quoted string\" ")

This is a "quoted string"

In [42]:
# some other escape sequence

print("tab \t between")

tab 	 between

In [43]:
print("newline \n between")

newline
 between

In [44]:
print("backslash \\ here")

backslash \ here

In [45]:
web_address = "Https:\\google.com"
print(web_address)

Https:\google.com

In [46]:
web_address = "Https:\\\\google.com"
print(web_address)

Https:\\google.com

In [47]:
web_address = r"Https:\\google.com"
print(web_address)

Https:\\google.com

In [48]:
print('''Dear students,
I hope this finds you well.
See you on Thursday''')

Dear students,
I hope this finds you well.
See you on Thursday

In [51]:
print("Dear students,\nI hope this finds you well.\nSee you on Thursday")

Dear students,
I hope this finds you well.
See you on Thursday

In [52]:
# concatenation

my_name1 + my_name2

'AndrewRukangu'

In [53]:
my_name2 * 3

'RukanguRukanguRukangu'

In [65]:
# more formatting

my_int = 123
my_float = 3.142

print(f"my int is {my_int} and my float is {my_float}")

my int is 123 and my float is 3.142

In [55]:
print(f"sum is  {my_int + my_float}")

sum is  103.142

In [60]:
print(f"num is  {my_float:+.2f}")

num is  -3.14

In [71]:
# padding

print(f"padded num is  {my_int:x>15}")

padded num is  xxxxxxxxxxxx123

In [72]:
list2 = [1,0,0,0]
print(any(list2)) # retrns tue if any value is nonzero

True

In [73]:
list2 = [1,0,0,0]
print(all(list2)) # retrns tue if any value is nonzero

False

In [74]:
list2 = [1,1,1,1]
print(any(list2)) # retrns tue if any value is nonzero

True

In [75]:
tuple(list2)

(1, 1, 1, 1)

In [76]:
list(my_tup)

[1, 2, 3]

In [1]:
destinys_child = ['Kelly', 'Michelle', 'Beyonce']
for singer in destinys_child:
    print(f"{singer} can you handle this?")
    
print("I don't think they can handle this !")

Kelly can you handle this?
Michelle can you handle this?
Beyonce can you handle this?
I don't think they can handle this !

In [16]:
# create our tray
# it's a list of 12 eggs

# egg_string = 'egg,'*12
# egg_string = egg_string.strip(',')
# egg_tray = egg_string.split(',')
# egg_tray

egg_tray = ('egg,'*12).strip(',').split(',')
egg_tray

['egg',
 'egg',
 'egg',
 'egg',
 'egg',
 'egg',
 'egg',
 'egg',
 'egg',
 'egg',
 'egg',
 'egg']

In [22]:
# stamp a G and a number on each of the eggs

counter = 0
tray2 = []
for current_egg in egg_tray:
    counter+=1
    print(f"{current_egg}_G_{counter}")
    tray2.append(f"{current_egg}_G_{counter}")

egg_G_1
egg_G_2
egg_G_3
egg_G_4
egg_G_5
egg_G_6
egg_G_7
egg_G_8
egg_G_9
egg_G_10
egg_G_11
egg_G_12

In [23]:
tray2

['egg_G_1',
 'egg_G_2',
 'egg_G_3',
 'egg_G_4',
 'egg_G_5',
 'egg_G_6',
 'egg_G_7',
 'egg_G_8',
 'egg_G_9',
 'egg_G_10',
 'egg_G_11',
 'egg_G_12']

In [24]:
# demo bad variable names
# stamp a G and a number on each of the eggs

counter = 0
tray2 = []
for notFriendlyVariableName in egg_tray:
    counter+=1
    print(f"{notFriendlyVariableName}_G_{counter}")
    tray2.append(f"{notFriendlyVariableName}_G_{counter}")

egg_G_1
egg_G_2
egg_G_3
egg_G_4
egg_G_5
egg_G_6
egg_G_7
egg_G_8
egg_G_9
egg_G_10
egg_G_11
egg_G_12

In [1]:
my_matrix = [[1,2,3],[2,3,4],[5,6,7]]

In [2]:
my_matrix

[[1, 2, 3], [2, 3, 4], [5, 6, 7]]

In [4]:
for row in my_matrix:
    print(row)
    for column in row:
        print(column)

[1, 2, 3]
1
2
3
[2, 3, 4]
2
3
4
[5, 6, 7]
5
6
7

In [5]:
for i in range(5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [9]:
for i in range(len(my_matrix)):
    row = my_matrix[i]
    print(row)
    for j in range(len(row)):
        print(j)

[1, 2, 3]
0
1
2
[2, 3, 4]
0
1
2
[5, 6, 7]
0
1
2

In [6]:
len(my_matrix)

3

In [11]:
# zipping
first_names = ['Albert','Kyle','Marie']
last_names = ['Einstein','Johnsen','Curie']



for i in range (len(first_names)):
    print(f"{first_names[i]}\t {last_names[i]}")

Albert	 Einstein
Kyle	 Johnsen
Marie	 Curie

In [12]:
for first,last in zip (first_names,last_names):
    print(f'{first}\t {last}')

Albert	 Einstein
Kyle	 Johnsen
Marie	 Curie

In [14]:
for idx,item in enumerate(first_names):
    print(f'the value at index {idx} is {item}')

the value at index 0 is Albert
the value at index 1 is Kyle
the value at index 2 is Marie

In [15]:
for _,last in zip (first_names,last_names):
    print(f'\t {last}')

	 Einstein
	 Johnsen
	 Curie

In [17]:
for _ in range(10):
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world